<table>
    <thead>
        <tr>
            <th>Clima hoy</th>
        </tr>
    </thead>
    <tbody>
        <tr>
            <th>ID Estado</th>
            <td>[ides]</td>
        </tr>
        <tr>
            <th>ID Municipio</th>
            <td>[idmun]</td>
        </tr>
        <tr>
            <th>Nombre estado</th>
            <td>[nes]</td>
        </tr>          
        <tr>
            <th>Nombre municipio</th>
            <td>[nmun]</td>
        </tr>
        <tr>
            <th>Dia local</th>
            <td>[dloc]</td>
        </tr>
        <tr>
            <th>#Dia</th>
            <td>[ndia]</td>
        </tr>          
        <tr>
            <th>Temperatura máxima (°C)</th>
            <td>[tmax]</td>
        </tr>
        <tr>
            <th>Temperatura mímima (°C)</th>
            <td>[tmin]</td>
        </tr>
        <tr>
            <th>Descripción del cielo</th>
            <td>[desciel]</td>
        </tr>          
        <tr>
            <th>Probabilidad de precipitación (%)</th>
            <td>[probprec]</td>
        </tr>
        <tr>
            <th>Precipitación (litros/m2)</th>
            <td>[prec]</td>
        </tr>
        <tr>
            <th>Velocidad del viento (km/h)</th>
            <td>[velvien]</td>
        </tr>          
        <tr>
            <th>Dirección del viento (Cardinal)</th>
            <td>[dirvienc]</td>
        </tr>
        <tr>
            <th>Dirección del viento (Grados)</th>
            <td>[dirvieng]</td>
        </tr>
        <tr>
            <th>Cobertura de nubes (%)</th>
            <td>[cc]</td>
        </tr>          
        <tr>
            <th>Latitud</th>
            <td>[lat]</td>
        </tr>
        <tr>
            <th>Longitud</th>
            <td>[lon]</td>
        </tr>
        <tr>
            <th>Diferencia respecto a hora UTC</th>
            <td>[dh]</td>
        </tr>                
    </tbody>
</table>