<section>
    <div class="container">
        <div class="row">
            <div class="col-md-12">
                <form>
                    <p><label>Elige un estado: </label></p>
                    <p>
                        <select id="estados">
                            <option></option>
                        </select>
                    </p>
                    <p>
                        <label>Elige un municipio</label>
                    </p>
                    <p>
                        <select id="municipios">
                            <option></option>
                        </select>
                    </p>
                </form>
            </div>
        </div>
        <div class="response">

        </div>
    </div>
</section>